<div fxLayout="row layout-wrap">
    <app-line-chart [data]="data" fxFlex="50"></app-line-chart>
    <app-line-chart [data]="data2" fxFlex="50"></app-line-chart>
    <app-line-chart [data]="data3" fxFlex="50"></app-line-chart>
    <app-line-chart [data]="data4" fxFlex="50"></app-line-chart>
    <!-- <app-line-chart [data]="data5" fxFlex="25"></app-line-chart>
    <app-line-chart [data]="data6" fxFlex="25"></app-line-chart>
    <app-line-chart [data]="data7" fxFlex="25"></app-line-chart>
    <app-line-chart [data]="data8" fxFlex="25"></app-line-chart> -->
</div>
